@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000020;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #946809;
  text-decoration: none;
}


.container {
  display: flex
}

#about-me {
  position: relative;
  top: 30px;
}

#formation {
  position: relative;
  top: 159px;
}

#experience {
  position: relative;
  top: 250px;
}

#projects{
  position: relative;
  top: 320px;
}

[request] {
  position: relative;
  justify-items: center;
  top: 30px;
  left: 100px;
  /*
  right: 39px;
  bottom: 53px;
  */
}
.dog {
  position: relative;
  justify-items: center;
  top: 30px;
  left: 100px;
}

h2 {
  position: relative;
   left: 40px;
  bottom: 10px;
}

#technologies{
  position: relative;
  top: 330px;
}

.tec  {
  font-size: x-large;
    font-weight: 700; 
    top: 100rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}