@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000020;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #946809;
  text-decoration: none;
}


.container {
  display: flex
}

h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

#about-me {
  position: relative;
  top: 30px;
}

#formation {
  position: relative;
  top: 159px;
}

