:root {
    --yellow-100: #fca311;
    --blue-900: #142130;
    --gray-50: #ccc;
    --gray-900: #292929;
}
/** Start ASIDE **/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    
    
    width: 28rem;
    height: 100vh;
    
    background: var(--blue-900);
}

.menu__nav {
    font-size: 24px;
    margin-top: 3rem;    
}

.menu__nav--list {
    list-style-type: none;    
}

.menu__nav--list-item {
    margin: 5px;
}

.menu__nav--list-item > a {
    padding: 5px 10px 5px;
}

.menu__nav--list-item > a:hover, a:active {
    background: var(--yellow-100);
    border-radius: 5px;
    color:white;    
    transition: background .5s ease-out;
}
    

.footer__social--img {
    padding-left: 5px;
    padding-right: 5px;    
}

.address {
    text-align: center;
}
/** End ASIDE **/

/** Start Sections of site **/

/* sections uno */

#about-me {
    position: absolute;
    font-size: 15px;
    
}

.aboutme {
    justify-content: center; 
    display: grid;
    text-align: center;

}
.aboutme__text {
    font-size: 16px;
    margin: 15.1rem ;    
    width: 30.5rem;
}

.aboutme__avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aboutme__avatar > p  {
    font-size: x-large;
    font-weight: 700; 
}

.avatar {
    border-radius: 56%;
    height: 250px;
    width: 220px;  
}

.avatar__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

hr {
    width: 210px;
    border: 1px solid var(--yellow-100);
}
/* fim da primeira section */

/* sections two */

#formation {
    position: absolute;
    font-size: 15px;
    padding: 50px;
    top: 52rem;
}  

 h1 {
    left: 50px;
    top: 25px;
}
.formation__system > span  {
    display: grid;
    font-size: 20px;
    justify-items: center;
    align-items: center;
}

.formation__system--sa > span {
    display: grid;
    font-size: 20px;
    justify-content: center;
    
}

.rectangle hr {
    width: 450px;
    border: 1px solid var(--yellow-100)
}

/*sections three*/

#experience  {
    position: absolute;
    font-size: 15px;
    padding: 50px;
    top: 98rem;
}
h1 {
    text-align: center;
    line-height: 20rem;
}

.experience__front > span {
    display: grid;
    font-size: 20px;
    justify-items: center;
    align-items: center;
}

/*sections four*/

#projects {
    position: absolute;
    font-size: 14px;
    top: 145.10rem;
}

.draft__tech--node  > span {
    position: relative;
    left: 20rem;
    bottom: 12rem;
}

.draft__tech--list > li {
    position: relative;
    left: 18rem;
    bottom: 13rem;
}

 b {
    position: relative;
    left: 20rem;
    bottom: 13rem;
}
.draft__heat {
    flex-wrap: wrap;
    width: 55rem;
    height: 18vh;
}
 

/*sections five*/

#technologies{
    position: absolute;
    padding: 25%;
    top: 235rem;
}

.section__img--front {
    flex-wrap: wrap;
    width: 45rem;
    height: 29vh;
    
}
/*
 @media(min-width: 992px){
     .about-me{
         padding: 10%;
         padding: 10%;

         font-size: 2.2rem;
     }
 } 
 */